NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="your-project-id"
NEXT_PUBLIC_SUPPORT_EMAIL="test@test.com"
NEXT_PUBLIC_APP_URL="www.example.com"
NEXT_PUBLIC_RPC_URL_ETHEREUM=https://eth.llamarpc.com
NEXT_PUBLIC_RPC_URL_POLYGON=https://1rpc.io/matic
NEXT_PUBLIC_RPC_URL_SEPOLIA=https://sepolia.drpc.org
