name: ci

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    types: [opened, edited]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Webhook request
        run: |
          curl -X GET https://invoicing.request.network/api/deploy/${{ secrets.EASYPANEL_DEPLOY_KEY_STAGING }}
